
h1, h3, a {
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.form {
  max-width: 360px;
  padding-top: 45px;
}

.button:hover {
  color: red;
}

.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:10px;
  
}

.form button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.form .message {
  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}

.container {
  margin: 0 auto;
}

body {
  background-color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
}

label {
  color: white;
  position:relative;
  top: -15px
}

a {
  color: white;
  border: 3px solid red;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.topcorner {
  text-align: center;
}

.hint {
  text-align: center;
  color: white;
}

.error {
  color: white;
}

h1, h2 {
  color: white;
}

p {
  color: white;
}

img {
  width: auto;
  padding-top: 1rem;
}

#challenge5 {
  text-align: left;
}
